<div class="select_game_mod">
  <%= label_tag 'Singles' %>
  <%= radio_button("post", "category", 0, {:checked => true}) %>
  <%= label_tag 'Doubles' %>
  <%= radio_button("post", "category", 1) %>
</div>